* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body{
  background-color: #e5e0ff;
  /* color: white; */
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}
.hero__container {
  display: grid;
  grid-template: 100px 1fr 1fr 1fr 50px / 120px 100px 1fr 1fr 400px;
  /* grid-gap: 1px; */
  height: 100vh;
  grid-template-areas: "logo logo title title nav"
                        "aside main main main main"
                        "aside main main main main"
                        "aside main main main main"
                        "footer footer footer footer footer";
}
.item {
  /* border: blue solid 1px; */
}
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e0ff;
  border-bottom: solid 3px #730fff;

}
.logo img {
  width: 100%;
  padding: 5px;
}
.title {
  grid-area: title;
  background: #e5e0ff;
  color: #730fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6rem;
  text-shadow: 4px 3px 2px #be8fff;
  border-bottom: solid 3px #730fff;
}
.nav {
  grid-area: nav;
  background: #e5e0ff;
  border-bottom: solid 3px #730fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  /* border: solid red 1px; */
}
.nav__bar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: black 1px solid; */
  width: 75%;
}
.nav__bar img {
  width: 80%;
}
.nav__bar span {
  letter-spacing: 1px;
}
.nav__bar a {
  text-decoration: none;
}
.nav__bar li p {
  display: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}
.aside {
  grid-area: aside;
  background: #e5e0ff;
  display: grid;
  justify-items: center;
  align-items: center;
}
.aside a {
  text-decoration: none;
  color: #730fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  /* border: 1px solid red; */
}
.hero__aside-img {
  width: 100px;
  /* border: blueviolet solid 1px; */
  text-align: center;
}
.hero__aside-img img {
  width: 60px;
}
/*----------------------main-----------------------*/
.hero__container--main {
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  background-image: url("/assets/image/port.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__main--portada {
  background-image: url("/assets/image/portada3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 80%;
  display: grid;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
  padding-top: 20px;
  border-radius: 25px;
  color: #730fff;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.hero__main--portada i {
  display: flex;
  justify-content: center;
}
.hero__main--portada p {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.hero__main--portada img {
  width: 70%;
  border-radius: 25px;
}
.hero__main--description {
  grid-row: 1 / 2;
  grid-column: 2 / span 1;
  /* border: slategrey solid 1px; */
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  /* align-items: center; */
}
.hero__main--description h2 {
  color: #320a69;
  text-align: center;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.hero__main--description p {
  padding: 0 10%;
  /* border: #730fff 1px solid; */
  text-align: justify;
  font-size: 2rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}

.hero__main--control {
  grid-row: 1 / 2;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hero__main--control li {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 2rem;
}
.hero__main--control h2 {
  color: #320a69;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: bold;
}